body {
    margin: 0; 
    padding: 0; 
}
#map {
    position: absolute; 
    top: 0; 
    bottom: 0; 
    width: 100%;
}
#searchbox{
    position: absolute;
    /* width: 380px; */
    margin: 30px;
    font-family: 'Microsoft YaHei';
    font-size: 14px;
}
#searchtext{
    width: 300px;
    border: 1px solid #e7e4e4;
    height: 32px;
    float: left;
    background-repeat: no-repeat;
    background-size: 25px;
    background-position:5px center;
    padding:0 0 0 20px;
}
#search{
    width: 80px;
    height: 32px;
    float: left;
    background: black;
    text-align: center;
    color: white;
}
#startbtn{
    width: 80px;
    height: 32px;
    float: left;
    background: black;
    color: white;
    text-align: center;
    line-height: 32px;
}
#endbtn{
    width: 80px;
    height: 32px;
    float: left;
    background: black;
    color: white;
    text-align: center;
    line-height: 32px;
}
#route{
    width: 80px;
    height: 32px;
    float: left;
    background: black;
    color: white;
    text-align: center;
    line-height: 32px;
}