body {
    margin: 0; 
    padding: 0; 
    text-align: center;
}
#map {
    height: 100%;
    width: 100%;
}
#searchbox{
    width: 100%;
    position: absolute;
    left: 20px;
    top: 20px;
    font-family: 'Microsoft YaHei';
    font-size: 14px;
}
#searchtext{
    width: 50%;
    border: 1px solid #e7e4e4;
    height: 32px;
    float: left;
    background-repeat: no-repeat;
    background-size: 25px;
    background-position:5px center;
    padding:0 0 0 20px;
}
#search{
    width: 60px;
    height: 32px;
    float: left;
    background: black;
    text-align: center;
    color: white;
}

#route{
    position: absolute;
    left: 20px;
    top: 60px;
    font-family: 'Microsoft YaHei';
    font-size: 14px;
}
#startbtn{
    width: 80px;
    height: 32px;
    background: black;
    color: white;
    text-align: center;
    line-height: 32px;
}
#startpoint{
    width: 200px;
    border: 1px solid #e7e4e4;
    height: 32px;
    background-repeat: no-repeat;
    background-size: 25px;
    background-position:5px center;
    /* padding:0 0 0 20px; */
}
#endbtn{
    width: 80px;
    height: 32px;
    background: black;
    color: white;
    text-align: center;
    line-height: 32px;
}
#endpoint{
    width: 200px;
    border: 1px solid #e7e4e4;
    height: 32px;
    background-repeat: no-repeat;
    background-size: 25px;
    background-position:5px center;
    /* padding:0 0 0 20px; */
}
#routenav{
    width: 80px;
    height: 32px;
    background: black;
    color: white;
    text-align: center;
    line-height: 32px;
}

#position_j{
    width: 80px;
    height: 32px;
    background: black;
    color: white;
    text-align: center;
    line-height: 32px;
}
#position_b{
    width: 80px;
    height: 32px;
    background: black;
    color: white;
    text-align: center;
    line-height: 32px;
}
#position_t{
    width: 80px;
    height: 32px;
    background: black;
    color: white;
    text-align: center;
    line-height: 32px;
}
#trackpoint{
    width: 80px;
    height: 32px;
    background: black;
    color: white;
    text-align: center;
    line-height: 32px;
}
#zoom-level{
    position: absolute;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 999;
    background:#EED2EE;
    left: 0px;
    bottom: 0px;
    font-family: 'Microsoft YaHei';
    line-height: 30px;
}
